body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
}


header {
	padding: 10px 0;
	height: 60px;
	@extend .white;
	img.logo_pmc { float: right; }
	img.logo_banco { float: left; }
}

// tamaños de los logos
img.logo_pmc, img.logo_banco {
	height: 30px;
	@media #{$medium-and-up} {
		height: 40px;
	}
 }


.fixed {
	position: relative;
	height: 60px;
	z-index: 2;
	header {
		position: fixed;
		width: 100%;
		z-index: 1;
	}
}

// Hack IE
@include only_ie9_below( 'body', (
	height: 100%,
	display: -ms-flexbox,
	-ms-flex-direction: column
));

main {
	flex: 1 0 auto;
	-ms-flex-positive: 1;
	-ms-flex-negative: 0;
	-ms-flex-preferred-size: auto;
    padding: 15px;
}

//SECTION

footer{
	-ms-flex-positive: 0;
	-ms-flex-negative: 0;
	-ms-flex-preferred-size: auto;
}


// Margenes
//------------------------------------------------------------
@for $mg from 0 through 100 {
    .mg-#{$mg} {margin: #{$mg}px !important;}
    .mg-l-#{$mg} {margin-left: #{$mg}px !important;}
    .mg-r-#{$mg} {margin-right: #{$mg}px !important;}
    .mg-t-#{$mg} {margin-top: #{$mg}px !important;}
    .mg-b-#{$mg} {margin-bottom: #{$mg}px !important;}
}


.titulo {
	border-bottom: 1px solid $brand_gris;
	h1 {
		color: $brand_gris;
		margin: 0px 0px 20px;
	}
}



// Tamaños y ubicaciones del titulo e imagen en cada servicio
//------------------------------------------------------------
$serv_alto: 100px;
$serv_margenes: 10px;
$serv_alto_imagen: $serv_alto - ($serv_margenes * 2);

.card, .collapsible-header{
	&.grilla
	{
		& .servicio {
			transition: all .5s;
			height: $serv_alto;
			position: relative;
			background-color: $brand_celeste;
			display: block;
			opacity: 1;
			padding: $serv_margenes;
			& img {
				height: $serv_alto_imagen;
				// margin: $serv_margenes;
				margin-right: $serv_margenes;
				transition: all 0.5s !important;
				opacity: 1;
				//border: solid 1px #ddd;
				//box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.4);
			}
			& .card-title{
				opacity: 1;
				@extend .white-text;
			}
			& .btn-floating.halfway-fab {
				position: absolute;
			    right: 24px;
			    bottom: -20px;
			    visibility: hidden;
			    transition: none;
			}
		}
		& .card-content{
			@extend .white;
			@extend .black-text;
			transition: all .5s;
		}
		& .card-action {
			@extend .white;
			transition: all .5s;
		}
		& .monto {opacity: 1; }
		& .vencimiento {
			opacity: 1;
			@extend .grey-text;
			& p {
				visibility: hidden;
				// transition: visibility .3s;
			}
		}
		&:hover{
			& .servicio .btn-floating.halfway-fab {
				visibility: visible;
			}
			& .vencimiento p{
				visibility: visible;
				// transition: visibility .3s linear;
			}
		}

		&.active{
			& .servicio {
				@extend .blue;
			}
			& .servicio img {
				opacity: 0.3;

			}
			& .servicio .card-title {
				opacity: 0.3;
				@extend .white-text;
			}

			& .btn-floating.halfway-fab {
				display: none;
			}
			& .card-content {
				@extend .blue;
				@extend .white-text;
			}

			& .monto {
				opacity: 0.3;
			}
			& .vencimiento {
				opacity: 0.3;
				& p {
					visibility: visible;
				}
			}
			& .card-action {
				@extend .blue;
				@extend .white-text;
				& .btn-large {
					@extend .white;
					@extend .blue-text;
				}
				label span {color: white;
					&.si {display: none}
					&.no {display: inherit;}
				}
				input[type=checkbox].filled-in:checked+label:after {
					border: 2px solid #fff;
    				background-color: #fff;
    			}
    			input[type=checkbox].filled-in:checked+label:before {
    				border-right: 2px solid $brand_celeste;
    				border-bottom: 2px solid $brand_celeste;
    			}
			}
		}
	}

	&.tabla{

		cursor: default;

		& .servicio {
			height: $serv_alto/2;
			position: relative;
			// background-color: $brand_celeste;
			display: block;
			opacity: 1;
			width: 100%;

			& > .row > div {
				height: 50px;
			}

			& img {
				height: $serv_alto_imagen;
				// margin: $serv_margenes;
				margin-left: $serv_margenes;
				transition: all 0.5s !important;
				opacity: 1;
				height: 50px;
    			width: auto;
			}
			& .card-title{
				opacity: 1;
			}
			& .btn-floating.halfway-fab {
				position: absolute;
			    right: 24px;
			    bottom: -20px;
			}
		}
		& a {
			// line-height: 0;

			i + i {
				display: none;
			}
		}

		&.active {
			& a i {
				display: none;
			}
			& a i + i {
				display: block;
			}
		}
	}
}
.collapsible-body {
	position: relative;

	& > a {
		position: absolute;
	    top: 75px;
	    right: 15px;
	}
	& > div {
	    max-height: 0;
	    transition: max-height ease 0.5s;
		overflow: hidden;
		margin: 2rem -2rem -2rem -2rem;

		&.active {

			max-height: 300px;
		}
	}
}

.card-action .btn-large {
	@extend .blue;
}

.divisor {
	width: 100%;
	height: 30px;
	float: left;
}


// Clases de flex

.justify-between {
	display: flex;
    justify-content: space-between;
}