// Definición de los botones
// --------------------------------------------------
$pad-bt-tb: 22px; //top y bottom
$pad-bt-lr: 28px; //left y right

$pad-btchico-tb: 12px; //top y bottom de los botones chicos
$pad-btchico-lr: 15px; //left y right de los botones chicos
$alto-btchico: 35px; 

$brd-ayuda: 3px; //borde de la ayuda

