// DROPDOWN4: AFIP
//////////////////
body > header.main-header div:last-of-type nav #dropdown4 > div:first-of-type {
	width: 300px;
	height: 170px;

}

// DROPDOWN5: VARIOS
//////////////////
body > header.main-header div:last-of-type nav #dropdown5 > div:first-of-type {
	width: auto;
	height: auto;

}
